@font-face {
  font-family: 'gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


:root {
  --first-font: 'gilroy', sans-serif;
  --primary-color: #1688FE;
  --second-color: #008B5D;
  --light-gray: #4C4C55;
  --extra-light-gray: #ECECED;
  --white: #ffffff;
  --black: #14141F;
  --h1: normal 600 42px/1.2 var(--first-font);
  --h2: normal 600 30px/1.2 var(--first-font);
  --h3: normal 600 24px/1.2 var(--first-font);
  --h4: normal 600 17px/1.2 var(--first-font);
  --h5: normal 600 16px/1.2 var(--first-font);
  --h6: normal 600 14px/1.2 var(--first-font);
  --common-text: normal 400 14px/1.5 var(--first-font);
}

body {
  font: var(--common-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  background-color: var(--white);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}

h6 {
  font: var(--h6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* /////  custom classes ///// */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  background-color: var(--primary-color);
  padding: 14px 70px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}


@media screen and (max-width:767px) {

  :root {
    --h1: normal 600 38px/1.2 var(--first-font);
    --h2: normal 600 28px/1.2 var(--first-font);
    --h3: normal 600 22px/1.2 var(--first-font);
    --h4: normal 600 16px/1.2 var(--first-font);
    --h5: normal 600 15px/1.2 var(--first-font);
    --h6: normal 600 14px/1.2 var(--first-font);
    --common-text: normal 400 14px/1.5 var(--first-font);
  }

}
